{{#> main}}
  {{#*inline 'body'}}
    <p style='font-size: 1.3em'><b>{{news.title}}</b></p>
    <p>{{news.content}}</p>
    <p><a href='{{news.url}}'>Để xem chi tiết bài viết, quý khách vui lòng truy cập vào link: {{news.url}}</a></p>
    <p>&nbsp;</p>
    <p><b>Cảm ơn quý khách đã luôn theo dõi những bản tin mới nhất của chúng tôi</b><br />Trân trọng,<br /><b>NHỰA LONG THÀNH</b></p>
  {{/inline}}
{{/main}}