{{#> main}}
  {{#*inline 'body'}}
    <p><b>Cám ơn bạn đã đặt hàng tại NHỰA LONG THÀNH</b></p>
    <p>NHỰA LONG THÀNH đã nhận được yêu cầu đặt hàng của bạn và đang xử lý.</p>
    <p>Xin hãy tạo tài khoản để sử dụng chức năng theo dõi đơn hàng trên website cho những lần đặt hàng tiếp theo.<br />Xin cảm ơn.</p>
    <p style="text-align: center;">
      <a
        style='color: #fff; background: #007BFF; display: inline-block; width: 150px; height: 34px; line-height: 34px; text-align: center; font-weight: 700; text-transform: uppercase; text-decoration: none; border-radius: 4px;'
        href='{{url}}'
        target='_blank'
      >Tạo tài khoản</a></p>
    </p>
    <p>Lưu ý: Bạn hãy kiểm tra sản phẩm, thông tin người nhận để nhận đúng kiện hàng nhé.</p>
    <p>Mọi thắc mắc và góp ý vui lòng liên hệ với LTP-support qua email:<br />
      <a href='mailto:{{email}}'>{{email}}</a></p>
    <p>Trân trọng,<br /><b>NHỰA LONG THÀNH</b></p>
  {{/inline}}
{{/main}}